@import "./reset.scss";
@import "./var.scss";

body {
    background-color: $LightGray;
    display: grid;
    place-items: center;
    font-size: 15px;
}

.card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    position: relative;
    margin-top: 50%;
    height: 28rem;
    width: 18rem;
    border-radius: 20px;
    box-shadow: 0px 10px 20px 5px hsla(219, 15%, 55%, 0.26);
    background-color: $White;
    .qrcode {
        margin: 1rem;
        display: flex;
        justify-content: center;
    }

    .text {
        display: flex;
        flex-direction: column;
        margin: 1rem;
        .tittle1 {
            font-family: $FontFamily;
            font-weight: 700;
            font-size: 18px;
            color: $DarkBlue ;
        }
        .paragraph {
            font-family: $FontFamily;
            font-weight: 400;
            margin-top: 1rem;
            color: $GrayishBlue;
        }
    }

}



img {
    height: 15.5rem;
    width: 15.5rem;
    border-radius: 10px;
}

footer {
    position: relative;
    display: flex;
    margin-top: 2rem;
    a {
        color: rgb(116, 116, 252);
        border-radius: 5px;
        text-decoration: none;
        animation-name: color;
        animation-duration: 5s;
        animation-timing-function: ease;
        &:hover {
            color: red;
            transition: 0.4s linear;
        }
        @keyframes color {
            0% {color:rgb(116, 116, 252);}
            25%{color: rgb(95, 95, 247);}
            50%{color: rgb(83, 83, 250);}
            75%{color: rgb(21, 21, 253);}
            100%{color: blue;}
        }
    }
}